# Project exclude paths
/cloud-api-commons/target/
/cloud-consumer-order80/target/
/cloud-eureka-server7001/target/
/cloud-provider-payment8001/target/### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
